.custom{
    font-size:42px !important;
    background: transparent;
    border: none;
    font-weight: 700;
}
.custom input {
    
    outline:none
}
.image-center{
    margin:0 auto;
}

.fit-thumbnail{
    object-fit: contain;
}

.issuer-badge{
    font-size:10px
}
.badge-margin{
    margin:3px
}
.adcontent{
    margin:0px;
    padding:5px;
    font-size:0.8em;
}
.adcontent ion-item{
    --background:transparent;
}
.fontsize-80{
    font-size: 0.8em;
}

.ad-title{
    font-size:11px;
}
.float-left{
    float:left
}
.float-right{
    float:right
}
.card_hero{
   height: 100px;
   width:159px;
   border-radius:10px;
   display:inline-block;
}
.bottom-button {
    position: fixed;
    left: 15px;
    bottom: 10px;
    right: 15px;
}

.alert-wrapper{
    min-width:80% !important;
}