.stackCards{
    display:inline-block;
    width:60px;
    height:150px;
    overflow-x:visible ;
    z-index:999
}
.stackCards img{
    width:250px;
    height:150px;
    max-width: none;
    box-shadow:0 2px 4px #AAA;
    border-radius: 15px;
}
.card_content{
    padding:0 20px;
    margin:20px 0;
    overflow-x: scroll;
    scrollbar-width: none;
}
.card_content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.mirrored{transform:scaleX(-1)}
.fit_wrapper{
    display:inline-block;
}